.banner{
   background: crimson;
   color: rgb(143, 21, 45);
   text-shadow: 0px 0px 10px rgba(160, 22, 49, .9);
   display: flex;
   align-items: center;
   justify-content: center;
   height: 9vh;
   font-size: 2rem;
   font-weight: bold;
}