@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body, html{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Noto Sans JP";
   background: crimson;
}